asgiref==3.7.2
biopython==1.81
blosum==2.0.2
certifi==2023.7.22
charset-normalizer==3.3.0
Django==4.2.5
idna==3.4
Levenshtein==0.22.0
numpy==1.26.0
rapidfuzz==3.3.1
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.5
